<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../assets/js/sessao.js"></script>
    <link rel="stylesheet" href="../../assets/css/styleCadastroCaminhoes.css">
    <title>Cadastro Caminhão</title>
</head>

<body onload="validarSessao()">

    <div class="container">
        <div class="navbar">
            <div class="main__logo">
                <img src="../../assets/img/logo2.png" alt="">
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Cadastro Caminhões</a></li>
                <li><a href="#">Cadastro Funcionarios</a></li>
                <li><a href="#">Configuração</a></li>
                <button onclick="limparSessao()" class="logoff">Sair</button>
            </ul>
        </div>


        <div class="caixaDashboard">
            <div>
                <div class="header">
                    <section class="main__rightSection">
                        <div class="main__cardLogin">
                            <article class="main__articleUpper">
                                <div class="main__descSignUp">
                                    <div class="main__logo">
                                        <img src="../assets/ico/logo-fruittech.svg" alt="">
                                    </div>
                                    <span class="main__DescTitle">Realize o <span>cadastro</span> do
                                        <b>caminhão!</b></span>
                                    <p class="main__subDescTitle">Sua jornada conosco começa com um simples passo.
                                        Obtenha
                                        monitoramento inteligente!</p>
                                </div>
                                <div class="main__inputDates">
                                    <div class="flex--bases">
                                        <input type="text" id="input_marcaCaminhao" class="input--bases"
                                            placeholder="Marca...">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="text" id="input_modeloCaminhao" class="input--bases"
                                            placeholder="Modelo...">
                                        <input type="text" id="input_chassiCaminhao" class="input--bases"
                                            placeholder="Chassi..." maxlength="17">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="number" id="input_comprimentoCaminhao" class="input--bases"
                                            placeholder="Comprimento (m)...">
                                        <input type="number" id="input_alturaCaminhao" class="input--bases"
                                            placeholder="Altura...">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="text" id="input_codigoSensor" class="input--bases"
                                            placeholder="Código do sensor..." maxlength="36">
                                    </div>
                                </div>
                                <button type="button" class="main__btn" onclick="Cadastrar()">Cadastrar
                                    Caminhão</button>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
            <br><br>
            <div class="sobreGrafico">

            </div>

            <br><br><br>
        </div>
    </div>
</body>


</body>

</html>

<script>
    const labels = [
        '12:00',
        '13:00',
        '14:00',
        '15:00',
        '16:00',
        '17:00',
    ];

    const labels2 = [
        '12:00',
        '13:00',
        '14:00',
        '15:00',
        '16:00',
        '17:00',
    ];

    const config = {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'TEMPERATURA (DHT11)',
                backgroundColor: '#E9D208',
                borderColor: '#E9D208',
                data: [9.5, 9, 10, 10, 9.5, 9],
            },
            {
                label: 'TEMPERATURA (LM35)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [9.5, 9, 9.5, 10, 9, 9],

            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config2 = {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: 'UMIDADE (DHT11)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [75, 77, 78, 76, 76, 79],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config3 = {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'TEMPERATURA (DHT11)',
                backgroundColor: '#E9D208',
                borderColor: '#E9D208',
                data: [12, 10, 9.5, 10, 10.5, 11],
            },
            {
                label: 'TEMPERATURA (LM35)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [11, 10, 10, 10.5, 10.5, 11],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config4 = {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: 'UMIDADE (DHT11)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [79, 81, 80, 77, 76, 73],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config5 = {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'TEMPERATURA (DHT11)',
                backgroundColor: '#E9D208',
                borderColor: '#E9D208',
                data: [9, 11, 10, 12, 10, 8],
            },
            {
                label: 'TEMPERATURA (LM35)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [10, 11, 10, 11, 10, 9],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config6 = {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: 'UMIDADE (DHT11)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [59, 60, 59, 61, 62, 63],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config7 = {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'TEMPERATURA (DHT11)',
                backgroundColor: '#E9D208',
                borderColor: '#E9D208',
                data: [8, 10, 11, 10, 12, 10],
            },
            {
                label: 'TEMPERATURA (LM35)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [9, 10, 11, 10, 11, 10],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config8 = {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: 'UMIDADE (DHT11)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [72, 71, 73, 75, 71, 68],
            }]
        },
        options: { maintainAspectRatio: false }
    };


</script>


<script>

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    const myChart2 = new Chart(
        document.getElementById('myChart2'),
        config2
    );

    const myChart3 = new Chart(
        document.getElementById('myChart3'),
        config3
    );

    const myChart4 = new Chart(
        document.getElementById('myChart4'),
        config4
    );

    const myChart5 = new Chart(
        document.getElementById('myChart5'),
        config5
    );

    const myChart6 = new Chart(
        document.getElementById('myChart6'),
        config6
    );

    const myChart7 = new Chart(
        document.getElementById('myChart7'),
        config7
    );

    const myChart8 = new Chart(
        document.getElementById('myChart8'),
        config8
    );



</script>

<!--Script para fazer aparecer os gráficos-->
<script>

    var interruptor = 1;
    var interruptor1 = 1;
    var interruptor2 = 1;
    var interruptor3 = 1;
    var esconderMostrarGraficos = 0;


    function switchGraficos() {
        interruptor++;

        if (interruptor == 1) {
            mostrarGraficos.style.display = 'flex';
        } else {
            mostrarGraficos.style.display = 'none';
            interruptor = 0;
        }

    }

    function switchGraficos1() {
        interruptor1++;

        if (interruptor1 == 1) {
            mostrarGraficos1.style.display = 'flex';
        } else {
            mostrarGraficos1.style.display = 'none';
            interruptor1 = 0;
        }

    }

    function switchGraficos2() {
        interruptor2++;

        if (interruptor2 == 1) {
            mostrarGraficos2.style.display = 'flex';
        } else {
            mostrarGraficos2.style.display = 'none';
            interruptor2 = 0;
        }

    }

    function switchGraficos3() {
        interruptor3++;

        if (interruptor3 == 1) {
            mostrarGraficos3.style.display = 'flex';
        } else {
            mostrarGraficos3.style.display = 'none';
            interruptor3 = 0;
        }

    }

    function esconderGraficos() {

        esconderMostrarGraficos++;

        if (esconderMostrarGraficos == 1) {
            esconderMostrar.innerHTML = `Mostrar Gráficos`
        } else {
            esconderMostrar.innerHTML = `Esconder Gráficos`
            esconderMostrarGraficos = 0
        }

        switchGraficos();
        switchGraficos1();
        switchGraficos2();
        switchGraficos3();
    }

    function mostrarAlerts() {

        mostrarGraficos.style.display = 'flex';
        mostrarGraficos1.style.display = 'none';
        mostrarGraficos2.style.display = 'flex';
        mostrarGraficos3.style.display = 'none';

    }

</script>