<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../assets/js/sessao.js"></script>
    <link rel="stylesheet" href="../../assets/css/styleCadastroCaminhoes.css">
    <title>Cadastro Caminhão</title>
</head>

<body onload="validarSessao()">

    <div class="container">
        <div class="navbar">
            <div class="main__logo">
                <img src="../../assets/ico/logo-fruittech.svg" alt="">
            </div>
            <ul>
                <li><a href="dashboard.html">Home</a></li>
                <li><a href="#">Cadastro Caminhões</a></li>
                <li><a href="Cadastro-Funcionario.html">Cadastro Funcionarios</a></li>
                <li><a id="botaosair" onclick="limparSessao()" class="logoff">Sair</a></li>
            </ul>
        </div>


        <div class="caixaDashboard">
            <div>
                <div class="header">
                    <section class="main__rightSection">
                        <div class="main__cardLogin">
                            <article class="main__articleUpper">
                                <div class="main__descSignUp">
                                    <div class="main__logo">
                                        <img src="../assets/ico/logo-fruittech.svg" alt="">
                                    </div>
                                    <span class="main__DescTitle">Realize o <span>cadastro</span> do
                                        <b>caminhão!</b></span>
                                    <p class="main__subDescTitle">Sua jornada conosco começa com um simples passo.
                                        Obtenha
                                        monitoramento inteligente!</p>
                                </div>
                                <div class="main__inputDates">
                                    <div class="flex--bases">
                                        <input type="text" id="input_marcaCaminhao" class="input--bases"
                                            placeholder="Marca...">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="text" id="input_modeloCaminhao" class="input--bases"
                                            placeholder="Modelo...">
                                        <input type="text" id="input_placaCaminhao" class="input--bases"
                                            placeholder="Placa..." maxlength="7">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="number" id="input_comprimentoCaminhao" class="input--bases"
                                            placeholder="Comprimento (m)...">
                                        <input type="number" id="input_alturaCaminhao" class="input--bases"
                                            placeholder="Altura...">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="text" id="input_codigoSensor" class="input--bases"
                                            placeholder="Código do sensor..." maxlength="36">
                                    </div>
                                </div>
                                <button type="button" class="main__btn" onclick="CadastrarCaminhao()">Cadastrar
                                    Caminhão</button>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
            <br><br>
            <div class="sobreGrafico">

            </div>

            <br><br><br>

            <table border="1">
                <caption>Caminhões</caption>
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Placa</th>
                        <th>Comprimento</th>
                        <th>Altura</th>
                        <th>Código Sensor</th>
                    </tr>
                </thead>
                <tbody id="tabelaFuncionarios">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <br><br><br>
        </div>
    </div>
</body>


</body>

</html>

<script>

    function CadastrarCaminhao() {

        // aguardar();

        //Recupere o valor da nova input pelo nome do id
        // Agora vá para o método fetch logo abaixo
        var marca = input_marcaCaminhao.value;
        var modelo = input_modeloCaminhao.value;
        var placa = input_placaCaminhao.value;
        var comprimento = input_comprimentoCaminhao.value;
        var altura = input_alturaCaminhao.value;
        var codigoSensor = input_codigoSensor.value

        var idTransportadora = sessionStorage.ID_TRANSPORTADORA
        if (
            marca == "" ||
            modelo == "" ||
            placa == "" ||
            comprimento == "" ||
            altura == "" ||
            codigoSensor == "" ||
            idTransportadora == ""
        ) {
            //   cardErro.style.display = "block";
            //   mensagem_erro.innerHTML =
            //     "(Mensagem de erro para todos os campos em branco)";

            //   finalizarAguardar();
            alert('Há algum campo vazio!')
            return false;
        } else {

            // Enviando o valor da nova input
            fetch(`/caminhao/cadastrar/${idTransportadora}`, {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    // crie um atributo que recebe o valor recuperado aqui
                    // Agora vá para o arquivo routes/usuario.js
                    marcaServer: marca,
                    modeloServer: modelo,
                    placaServer: placa,
                    comprimentoServer: comprimento,
                    alturaServer: altura,
                    codigoSensorServer: codigoSensor
                }),
            })
                .then(function (resposta) {
                    console.log("resposta: ", resposta);

                    if (resposta.ok) {
                        //   cardErro.style.display = "block";

                        //   mensagem_erro.innerHTML =
                        //     "Cadastro realizado com sucesso! Redirecionando para tela de Login...";
                        alert('Cadastro do caminhão realizado com sucesso! Redirecionando para dashboard.')

                        setTimeout(() => {
                            window.location = "./dashboard.html";
                        }, "2000");

                        //   limparFormulario();
                        //   finalizarAguardar();
                    } else if (resposta.status == 404) {
                        alert('Código do sensor inválido')
                    } else {
                        throw "Houve um erro ao tentar realizar o cadastro do caminhão!";
                    }
                })
                .catch(function (resposta) {
                    console.log(`#ERRO: ${resposta}`);
                    // finalizarAguardar();
                });

        }

        return false;


    }








    window.onload = selecionarCaminhoes();

    function selecionarCaminhoes() {

        idTransp = sessionStorage.getItem('ID_TRANSPORTADORA');


        fetch(`/funcionario/selecionarCaminhoes/`, {
            method: "post",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({

                idServer: idTransp
            })
        }).then(function (resposta) {
            console.log("resposta: ", resposta);

            if (resposta.ok) {

                resposta.json().then(json => {
                    console.log(json);
                    console.log(JSON.stringify(json));

                    //   criarTabelasFuncionario();

                });


            } else {
                throw "Houve um erro ao tentar realizar o selecionar do funcionário!";
            }
        })
            .catch(function (resposta) {
                console.log(`#ERRO: ${resposta}`);
                // finalizarAguardar();
            });

        return false;

    }

    // O fetch acima consegue fazer o select mas não gera json por 0 motivos

    function criarTabelasCaminhao() {

        // tem q fazer a requisição dos dados do json q n ta sendo criado

        tabelaCaminhao.innerHTML = ``

        for (c = 0; c < 3 /*tamanho da lista que contem os dados do select*/; c++) {

            tabelaCaminhao.innerHTML += `<tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>`

        }


    }


</script>