<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../../assets/css/styleCadastroFuncionario.css">
    <title>Cadastro funcionario</title>
</head>

<body>

    <div class="container">
        <div class="navbar">
            <div class="main__logo">
                <img src="../../assets/ico/logo-fruittech.svg" alt="">
            </div>
            <ul>
                <li><a href="dashboard.html">Home</a></li>
                <li><a href="cadastroCaminhoes.html">Cadastro Caminhões</a></li>
                <li><a href="#">Cadastro Funcionarios</a></li>
                <li><a href="#">Configuração</a></li>
                <li><a id="botaosair" onclick="limparSessao()" class="logoff">Sair</a></li>
            </ul>
        </div>


        <div class="caixaDashboard">
            <div>
                <div class="header">
                    <section class="main__rightSection">
                        <div class="main__cardLogin">
                            <article class="main__articleUpper">
                                <div class="main__descSignUp">
                                    <div class="main__logo">
                                        <img src="../../assets/ico/logo-fruittech.svg" alt="">
                                    </div>
                                    <span class="main__DescTitle">Realize o <span>cadastro</span> do <b>funcionario!</b></span>
                                    <p class="main__subDescTitle">Sua jornada conosco começa com um simples passo. Obtenha
                                        monitoramento inteligente!</p>
                                </div>
                                <div class="main__inputDates">
                                    <div class="flex--bases">
                                        <input type="text" id="input_nomeFuncionario" class="input--bases"
                                            placeholder="Nome...">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="text" id="input_sobrenomeFuncionario" class="input--bases" placeholder="Sobrenome...">
                                        <input type="text" id="input_cpf_Funcionario" class="input--bases"
                                            placeholder="CPF...">
                                    </div>
                                  
                                    <div class="flex--bases">
                                        <input type="text" id="input_senhaFuncionario" class="input--bases" placeholder="Senha...">
                                    </div>
                                </div>
                                <button type="button" class="main__btn" onclick="Cadastrar()">Cadastrar funcionario</button>
                            </article>
                        </div>
                    </section>
                </div>
        </div>
        <br><br>
        <div class="sobreGrafico">
           
        </div>
        
        <br><br><br>
    </div>
    </div>
</body>


</body>

</html>
