<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../assets/js/sessao.js"></script>
    <link rel="stylesheet" href="../../assets/css/styleCadastroCaminhoes.css">
    <title>Cadastro Caminhão</title>
</head>

<body onload="validarSessao()">

    <div class="container">
        <div class="navbar">
            <div class="main__logo">
                <img src="../../assets/img/logo2.png" alt="">
            </div>
            <ul>
                <li><a href="dashboard.html">Home</a></li>
                <li><a href="#">Cadastro Caminhões</a></li>
                <li><a href="Cadastro-Funcionario.html">Cadastro Funcionarios</a></li>
                <li><a href="#">Configuração</a></li>
                <li><a id="botaosair" onclick="limparSessao()" class="logoff">Sair</a></li>
            </ul>
        </div>


        <div class="caixaDashboard">
            <div>
                <div class="header">
                    <section class="main__rightSection">
                        <div class="main__cardLogin">
                            <article class="main__articleUpper">
                                <div class="main__descSignUp">
                                    <div class="main__logo">
                                        <img src="../assets/ico/logo-fruittech.svg" alt="">
                                    </div>
                                    <span class="main__DescTitle">Realize o <span>cadastro</span> do
                                        <b>caminhão!</b></span>
                                    <p class="main__subDescTitle">Sua jornada conosco começa com um simples passo.
                                        Obtenha
                                        monitoramento inteligente!</p>
                                </div>
                                <div class="main__inputDates">
                                    <div class="flex--bases">
                                        <input type="text" id="input_marcaCaminhao" class="input--bases"
                                            placeholder="Marca...">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="text" id="input_modeloCaminhao" class="input--bases"
                                            placeholder="Modelo...">
                                        <input type="text" id="input_chassiCaminhao" class="input--bases"
                                            placeholder="Chassi..." maxlength="17">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="number" id="input_comprimentoCaminhao" class="input--bases"
                                            placeholder="Comprimento (m)...">
                                        <input type="number" id="input_alturaCaminhao" class="input--bases"
                                            placeholder="Altura...">
                                    </div>
                                    <div class="flex--bases">
                                        <input type="text" id="input_codigoSensor" class="input--bases"
                                            placeholder="Código do sensor..." maxlength="36">
                                    </div>
                                </div>
                                <button type="button" class="main__btn" onclick="Cadastrar()">Cadastrar
                                    Caminhão</button>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
            <br><br>
            <div class="sobreGrafico">

            </div>

            <br><br><br>
        </div>
    </div>
</body>


</body>

</html>

<script>

function cadastraCaminhao(){
    
    aguardar();

    //Recupere o valor da nova input pelo nome do id
    // Agora vá para o método fetch logo abaixo
    var marcaCaminhao = input_marcaCaminhao.value;
    var emailVar = email_input.value;
    var senhaVar = senha_input.value;
    var confirmacaoSenhaVar = confirmacao_senha_input.value;
    var empresaVar = listaEmpresas.value
    if (
      nomeVar == "" ||
      emailVar == "" ||
      senhaVar == "" ||
      confirmacaoSenhaVar == "" ||
      empresaVar == ""
    ) {
      cardErro.style.display = "block";
      mensagem_erro.innerHTML =
        "(Mensagem de erro para todos os campos em branco)";

      finalizarAguardar();
      return false;
    } else {
      setInterval(sumirMensagem, 5000);
    }

    // Enviando o valor da nova input
    fetch("/usuarios/cadastrar", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        // crie um atributo que recebe o valor recuperado aqui
        // Agora vá para o arquivo routes/usuario.js
        nomeServer: nomeVar,
        emailServer: emailVar,
        senhaServer: senhaVar,
        empresaServer: empresaVar
      }),
    })
      .then(function (resposta) {
        console.log("resposta: ", resposta);

        if (resposta.ok) {
          cardErro.style.display = "block";

          mensagem_erro.innerHTML =
            "Cadastro realizado com sucesso! Redirecionando para tela de Login...";

          setTimeout(() => {
            window.location = "login.html";
          }, "2000");

          limparFormulario();
          finalizarAguardar();
        } else {
          throw "Houve um erro ao tentar realizar o cadastro!";
        }
      })
      .catch(function (resposta) {
        console.log(`#ERRO: ${resposta}`);
        finalizarAguardar();
      });

    return false;
 

}
</script>