<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../assets/js/sessao.js"></script>
    <link rel="stylesheet" href="../../assets/css/styleDashboard.css">
    <title>Dashboard FruitTech</title>
</head>

<body onload="validarSessao()">

    <div class="container">
        <div class="navbar">
            <div class="main__logo">
                <img src="../../assets/img/logo2.png" alt="">
            </div>
            <div id="name_session">

            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="cadastroCaminhoes.html">Cadastro Caminhões</a></li>
                <li><a href="Cadastro-Funcionario.html">Cadastro Funcionarios</a></li>
                <li><a href="#">Configuração</a></li>
                <li><a id="botaosair" onclick="limparSessao()" class="logoff">Sair</a></li>
            </ul>
        </div>


        <div class="caixaDashboard">
            <div>
                <div class="header">
                <div style="display: flex; flex-direction: row;">
                    <div class="situacaoCaminhoes" style="width: 25%; height: 100%;">
                        <ul style="list-style: none;">
                            <li">⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<b>U</b>⠀<b>T</b>⠀<b>T</b></li>
                                <li><a href="#caminhao1">Caminhão 1</a>
                                    <div class="bolinha"></div>
                                    <div style="background-color: orange;" class="bolinha"></div>
                                    <div style="background-color: orange;" class="bolinha"></div>
                                </li>
                                <li><a href="#caminhao2">Caminhão 2</a>
                                    <div class="bolinha"></div>
                                    <div class="bolinha"></div>
                                    <div class="bolinha"></div>
                                </li>
                                <li><a href="#caminhao3">Caminhão 3</a>
                                    <div style="background-color: yellow;" class="bolinha"></div>
                                    <div class="bolinha"></div>
                                    <div class="bolinha"></div>
                                </li>
                                <li><a href="#caminhao4">Caminhão 4</a>
                                    <div class="bolinha"></div>
                                    <div class="bolinha"></div>
                                    <div class="bolinha"></div>
                                </li>
                                <li><button id="esconderMostrar" onclick="esconderGraficos()">Esconder Gráficos</button>
                                </li>
                                <li><button id="mostrarAlertas" onclick="mostrarAlerts()">Mostrar Alertas</button>
                                </li>
                        </ul>
                    </div>
                    <div style="width: 75%; height: 100%; display: flex; align-items: center; justify-content: center;">
                        <img style="width: 70%" src="../../assets/img/Umidade DHT11.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="sobreGrafico">
            <div class="caixaSituacaoCaminhao">
                <button id="caminhao1" onclick="switchGraficos()"> <img src="../../assets/img/caminhao-bau.png"
                        style="width: 40px; height: 40px;"></button>
                <div
                    style="font-size: 18px; display: flex; align-self: center; font-weight: bold; font-family: 'Sora', sans-serif;">
                    Caminhão 1</div>
                <div style="align-self: center; background-color: orange;" class="bolinha2"></div>
            </div>
            <hr>
            <div id="mostrarGraficos" class="grafico">
                <div>
                    <canvas id="myChart"
                        style="width: 175%; height: 50%; background-color: rgba(255, 165, 0, 0.25);"></canvas>
                </div>

                <div>
                    <canvas id="myChart2" style="width: 175%; height: 50%; "></canvas>
                </div>
            </div>
        </div>
        <div class="sobreGrafico">
            <div class="caixaSituacaoCaminhao">
                <button id="caminhao2" onclick="switchGraficos1()"> <img src="../../assets/img/caminhao-bau.png"
                        style="width: 40px; height: 40px;"></button>
                <div
                    style="font-size: 18px; display: flex; align-self: center; font-weight: bold; font-family: 'Sora', sans-serif;">
                    Caminhão 2</div>
                <div style="align-self: center" class="bolinha2"></div>
            </div>
            <hr>
            <div id="mostrarGraficos1" class="grafico">
                <div>
                    <canvas id="myChart3" style="width: 175%; height: 50%;"></canvas>
                </div>

                <div>
                    <canvas id="myChart4" style="width: 175%; height: 50%;"></canvas>
                </div>
            </div>
        </div>
        <div class="sobreGrafico">
            <div class="caixaSituacaoCaminhao">
                <button id="caminhao3" onclick="switchGraficos2()"> <img src="../../assets/img/caminhao-bau.png"
                        style="width: 40px; height: 40px;"></button>
                <div
                    style="font-size: 18px; display: flex; align-self: center; font-weight: bold; font-family: 'Sora', sans-serif;">
                    Caminhão 3</div>
                <div style="align-self: center; background-color: yellow;" class="bolinha2">
                </div>
            </div>
            <hr>
            <div id="mostrarGraficos2" class="grafico">
                <div>
                    <canvas id="myChart5" style="width: 175%; height: 50%;"></canvas>
                </div>

                <div>
                    <canvas id="myChart6"
                        style="width: 175%; height: 50%; background-color: rgba(255,255, 0, 0.3);"></canvas>
                </div>
            </div>
        </div class="caixaSituacaoCaminhao">
        <div class="sobreGrafico">
            <div class="caixaSituacaoCaminhao">
                <button id="caminhao4" onclick="switchGraficos3()"> <img src="../../assets/img/caminhao-bau.png"
                        style="width: 40px; height: 40px; border: none; background: none; outline: none; color: transparent;"></button>
                <div
                    style="font-size: 18px; display: flex; align-self: center; font-weight: bold; font-family: 'Sora', sans-serif;">
                    Caminhão 4</div>
                <div style="align-self: center" class="bolinha2"></div>
            </div>
            <hr>
            <div id="mostrarGraficos3" class="grafico">
                <div>
                    <canvas id="myChart7" style="width: 175%; height: 50%;"></canvas>
                </div>

                <div>
                    <canvas id="myChart8" style="width: 175%; height: 50%;"></canvas>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    </div>
</body>


</body>

</html>

<script>
    const labels = [
        '12:00',
        '13:00',
        '14:00',
        '15:00',
        '16:00',
        '17:00',
    ];

    const labels2 = [
        '12:00',
        '13:00',
        '14:00',
        '15:00',
        '16:00',
        '17:00',
    ];

    const config = {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'TEMPERATURA (DHT11)',
                backgroundColor: '#E9D208',
                borderColor: '#E9D208',
                data: [9.5, 9, 10, 10, 9.5, 9],
            },
            {
                label: 'TEMPERATURA (LM35)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [9.5, 9, 9.5, 10, 9, 9],

            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config2 = {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: 'UMIDADE (DHT11)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [75, 77, 78, 76, 76, 79],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config3 = {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'TEMPERATURA (DHT11)',
                backgroundColor: '#E9D208',
                borderColor: '#E9D208',
                data: [12, 10, 9.5, 10, 10.5, 11],
            },
            {
                label: 'TEMPERATURA (LM35)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [11, 10, 10, 10.5, 10.5, 11],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config4 = {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: 'UMIDADE (DHT11)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [79, 81, 80, 77, 76, 73],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config5 = {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'TEMPERATURA (DHT11)',
                backgroundColor: '#E9D208',
                borderColor: '#E9D208',
                data: [9, 11, 10, 12, 10, 8],
            },
            {
                label: 'TEMPERATURA (LM35)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [10, 11, 10, 11, 10, 9],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config6 = {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: 'UMIDADE (DHT11)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [59, 60, 59, 61, 62, 63],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config7 = {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'TEMPERATURA (DHT11)',
                backgroundColor: '#E9D208',
                borderColor: '#E9D208',
                data: [8, 10, 11, 10, 12, 10],
            },
            {
                label: 'TEMPERATURA (LM35)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [9, 10, 11, 10, 11, 10],
            }]
        },
        options: { maintainAspectRatio: false }
    };

    const config8 = {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: 'UMIDADE (DHT11)',
                backgroundColor: '#0E6616',
                borderColor: '#0E6616',
                data: [72, 71, 73, 75, 71, 68],
            }]
        },
        options: { maintainAspectRatio: false }
    };


</script>


<script>

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    const myChart2 = new Chart(
        document.getElementById('myChart2'),
        config2
    );

    const myChart3 = new Chart(
        document.getElementById('myChart3'),
        config3
    );

    const myChart4 = new Chart(
        document.getElementById('myChart4'),
        config4
    );

    const myChart5 = new Chart(
        document.getElementById('myChart5'),
        config5
    );

    const myChart6 = new Chart(
        document.getElementById('myChart6'),
        config6
    );

    const myChart7 = new Chart(
        document.getElementById('myChart7'),
        config7
    );

    const myChart8 = new Chart(
        document.getElementById('myChart8'),
        config8
    );



</script>

<!--Script para fazer aparecer os gráficos-->
<script>

    var interruptor = 1;
    var interruptor1 = 1;
    var interruptor2 = 1;
    var interruptor3 = 1;
    var esconderMostrarGraficos = 0;


    function switchGraficos() {
        interruptor++;

        if (interruptor == 1) {
            mostrarGraficos.style.display = 'flex';
        } else {
            mostrarGraficos.style.display = 'none';
            interruptor = 0;
        }

    }

    function switchGraficos1() {
        interruptor1++;

        if (interruptor1 == 1) {
            mostrarGraficos1.style.display = 'flex';
        } else {
            mostrarGraficos1.style.display = 'none';
            interruptor1 = 0;
        }

    }

    function switchGraficos2() {
        interruptor2++;

        if (interruptor2 == 1) {
            mostrarGraficos2.style.display = 'flex';
        } else {
            mostrarGraficos2.style.display = 'none';
            interruptor2 = 0;
        }

    }

    function switchGraficos3() {
        interruptor3++;

        if (interruptor3 == 1) {
            mostrarGraficos3.style.display = 'flex';
        } else {
            mostrarGraficos3.style.display = 'none';
            interruptor3 = 0;
        }

    }

    function esconderGraficos() {

        esconderMostrarGraficos++;

        if (esconderMostrarGraficos == 1) {
            esconderMostrar.innerHTML = `Mostrar Gráficos`
        } else {
            esconderMostrar.innerHTML = `Esconder Gráficos`
            esconderMostrarGraficos = 0
        }

        switchGraficos();
        switchGraficos1();
        switchGraficos2();
        switchGraficos3();
    }

    function mostrarAlerts() {

        mostrarGraficos.style.display = 'flex';
        mostrarGraficos1.style.display = 'none';
        mostrarGraficos2.style.display = 'flex';
        mostrarGraficos3.style.display = 'none';

    }

</script>