<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../assets/js/sessao.js"></script>
    <script src="../../assets/js/alerta.js"></script>
    <link rel="stylesheet" href="../../assets/css/styleDashboard.css">
    <title>Dashboard FruitTech</title>
</head>

<body>

    <div class="container">
        <div class="navbar">
            <div class="main__logo">
                <img src="../../assets/ico/logo-fruittech.svg" alt="">
            </div>
            <div id="session">

            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a id="btnCadastroCaminhao" href="cadastroCaminhoes.html">Cadastro Caminhões</a></li>
                <li><a id="btnCadastroFuncionario" href="Cadastro-Funcionario.html">Cadastro Funcionarios</a></li>
                <li><a id="botaosair" onclick="limparSessao()" class="logoff">Sair</a></li>
            </ul>
        </div>


        <div class="caixaDashboard">
            <div>
                <div class="header">
                    <div style="display: flex; flex-direction: row;">
                        <div class="situacaoCaminhoes" style="width: 25%; height: 100%;">
                            <ul style="list-style: none;    ">
                                <li><button id="esconderMostrar" onclick="mostrarTudo()">Esconder Gráficos</button>
                                </li>
                                <li><button id="mostrarAlertas" onclick="mostrarAlerts()">Mostrar Alertas</button>
                                </li>
                            </ul>
                        </div>
                        <div
                            style="width: 75%; height: 100%; display: flex; align-items: center; justify-content: center;">
                            <img style="width: 70%" src="../../assets/img/Umidade DHT11.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <br><br>


            <div class="dash">
                <div id="alerta">
                </div>

                <div class="btns-dash" id="btnCaminhao">
                    <!-- O gráfico é chamado de acordo com o id do caminhão (idCaminhao) do banco  -->
                </div>
                <!-- <div id="graficos">
                    </div> -->
            </div>
        </div>


    </div>
</body>


</body>

</html>

<script>
    var alertas = [];

    function obterdados(idCaminhao) {
        fetch(`/sensorDados/tempo-real/${idCaminhao}`)
            .then(resposta => {
                if (resposta.status == 200) {
                    resposta.json().then(resposta => {

                        console.log(`Dados recebidos: ${JSON.stringify(resposta)}`);

                        alertar(resposta, idCaminhao);
                    });
                } else {
                    console.error(`Nenhum dado encontrado para o id ${idCaminhao} ou erro na API`);
                }
            })
            .catch(function (error) {
                console.error(`Erro na obtenção dos dados do aquario p/ gráfico: ${error.message}`);
            });

    }

    function alertar(resposta, idCaminhao) {
        var temp = resposta[0].temperatura_LM35;

        var grauDeAviso = '';

        var limites = {
            muito_quente: 15,
            quente: 13,
            ideal: 12,
            frio: 10,
            muito_frio: 8
        };

        var classe_temperatura = 'cor-alerta';

        if (temp >= limites.muito_quente) {
            classe_temperatura = 'cor-alerta perigo-quente';
            grauDeAviso = 'perigo quente'
            grauDeAvisoCor = 'cor-alerta perigo-quente'
            exibirAlerta(temp, idCaminhao, grauDeAviso, grauDeAvisoCor)
        }
        else if (temp < limites.muito_quente && temp >= limites.quente) {
            classe_temperatura = 'cor-alerta alerta-quente';
            grauDeAviso = 'alerta quente'
            grauDeAvisoCor = 'cor-alerta alerta-quente'
            exibirAlerta(temp, idCaminhao, grauDeAviso, grauDeAvisoCor)
        }
        else if (temp < limites.quente && temp > limites.frio) {
            classe_temperatura = 'cor-alerta ideal';
            removerAlerta(idCaminhao);
        }
        else if (temp <= limites.frio && temp > limites.muito_frio) {
            classe_temperatura = 'cor-alerta alerta-frio';
            grauDeAviso = 'alerta frio'
            grauDeAvisoCor = 'cor-alerta alerta-frio'
            exibirAlerta(temp, idCaminhao, grauDeAviso, grauDeAvisoCor)
        }
        else if (temp <= limites.muito_frio) {
            classe_temperatura = 'cor-alerta perigo-frio';
            grauDeAviso = 'perigo frio'
            grauDeAvisoCor = 'cor-alerta perigo-frio'
            exibirAlerta(temp, idCaminhao, grauDeAviso, grauDeAvisoCor)
        }

        var card;

        if (document.getElementById(`temp_aquario_${idCaminhao}`) != null) {
            document.getElementById(`temp_aquario_${idCaminhao}`).innerHTML = temp + "°C";
        }

        if (document.getElementById(`card_${idCaminhao}`)) {
            card = document.getElementById(`card_${idCaminhao}`)
            card.className = classe_temperatura;
        }
    }

    function exibirAlerta(temp, idCaminhao, grauDeAviso, grauDeAvisoCor) {
        var indice = alertas.findIndex(item => item.idCaminhao == idCaminhao);

        if (indice >= 0) {
            alertas[indice] = { idCaminhao, temp, grauDeAviso, grauDeAvisoCor }
        } else {
            alertas.push({ idCaminhao, temp, grauDeAviso, grauDeAvisoCor });
        }

        exibirCards();
    }

    function removerAlerta(idCaminhao) {
        alertas = alertas.filter(item => item.idCaminhao != idCaminhao);
        exibirCards();
    }

    function exibirCards() {
        alerta.innerHTML = '';

        for (var i = 0; i < alertas.length; i++) {
            var mensagem = alertas[i];
            alerta.innerHTML += transformarEmDiv(mensagem);
        }
    }

    function transformarEmDiv({ idCaminhao, temp, grauDeAviso, grauDeAvisoCor }) {

        var descricao = JSON.parse(sessionStorage.CAMINHOES_TRANSPORTADORA).find(item => item.idCaminhao == idCaminhao).chassiCaminhao;
        return `
    <div class="mensagem-alarme">
        <div class="informacao">
            <div class="${grauDeAvisoCor}">&#12644;</div> 
            <h3>${descricao} está em estado de ${grauDeAviso}!</h3>
            <small>Temperatura ${temp}.</small>   
        </div>
        <div class="alarme-sino"></div>
    </div>
    `;
    }

    function atualizacaoPeriodica() {
        JSON.parse(sessionStorage.CAMINHOES_TRANSPORTADORA).forEach(item => {
            obterdados(item.idCaminhao)
        });
        setTimeout(atualizacaoPeriodica, 5000);
    }

</script>
<script>

    function btnFuncionario() {
        var idFunc = sessionStorage.ID_FUNCIONARIO;
        var nomeFunc = sessionStorage.NOME_FUNCIONARIO;

        if (idFunc != null && nomeFunc != null) {

            cadastroFunc = document.getElementById('btnCadastroFuncionario');
            cadastroCaminhao = document.getElementById('btnCadastroCaminhao');

            cadastroFunc.style.display = 'none'
            cadastroCaminhao.style.display = 'none'

        }

    }

    var switchTodosGraficos = [];

    function mostrarTudo() {


        var caminhoes = JSON.parse(sessionStorage.CAMINHOES_TRANSPORTADORA);

        caminhoes.forEach((item) => {

            var contador = -1;
            contador++;
            var graficoId = 'grafico' + item.idCaminhao;
            var switchCaminhao = document.getElementById(graficoId);

            if (switchTodosGraficos.length == contador) {
                switchTodosGraficos.push(true)
            }

            if (switchTodosGraficos[item.idCaminhao]) {
                switchCaminhao.style.display = 'none'
                switchTodosGraficos[item.idCaminhao] = false;
            } else {
                switchCaminhao.style.display = 'block'
                switchTodosGraficos[item.idCaminhao] = true;
            }

        })

    }

    window.onload = validarSessao()

    let proximaAtualizacao;

    window.onload = exibirCaminhoesDoUsuario();

    function exibirCaminhoesDoUsuario() {

        var caminhoes = JSON.parse(sessionStorage.CAMINHOES_TRANSPORTADORA);
        console.log(`Caminhões encontrados: ${JSON.stringify(caminhoes)}`)

        caminhoes.forEach((item) => {

            document.getElementById("btnCaminhao").innerHTML += `

            <div class="caixaSituacaoCaminhao" id="caixaSituacaoCaminhao" style="width: 100%;">
                    <button class="btn-chart" id="btnCaminhao" onclick="exibirCaminhao(${item.idCaminhao})"> <img src="../../assets/img/caminhao-de-entrega.png"
                            style="width: 40px; height: 40px; font-size: 18px; font-weight: bold; text-decoration: underline;">

                            Marca: ${item.marcaCaminhao}  Modelo: ${item.modeloCaminhao} - PLACA: ${item.placaCaminhao}
                        
                        </button>
                    <!-- <div style="align-self: center; background-color: orange;" class="bolinha2"></div> -->
                </div>

                <div id="grafico${item.idCaminhao}" style="width: 100%;">
                <h3 class="tituloGraficos">
                    <span id="tituloCaminhao${item.idCaminhao}" style="color: #c0af17a9;">${item.chassiCaminhao}</span>
                </h3>
                <div class="graph">
                    <canvas id="myChartCanvas${item.idCaminhao}"></canvas>
                </div>
                <div class="label-captura">
                    <p id="avisoCaptura${item.idCaminhao}" style="color: white"></p>
                </div>
            </div>
                
        `

            //     document.getElementById("graficos").innerHTML += `

            // `

            obterDadosGrafico(item.idCaminhao)

        });


        // if (caminhoes.length > 0) {
        //     exibirCaminhoes(caminhoes[0].idCaminhao)
        // }
    }

    function alterarTitulo(idCaminhao) {
        var tituloCaminhao = document.getElementById(`tituloCaminhao${idCaminhao}`)
        var descricao = JSON.parse(sessionStorage.CAMINHOES_TRANSPORTADORA).find(item => item.idCaminhao == idCaminhao).placaCaminhao;
        tituloCaminhao.innerHTML = "Últimas medidas de Temperatura e Umidade: <span style='color: #0e6616;'>" + descricao + "</span>"
    }

    listaMostrarCaminhoes = []

    function exibirCaminhao(idCaminhao) {

        var graficoId = 'grafico' + idCaminhao;
        var switchCaminhao = document.getElementById(graficoId);

        if (listaMostrarCaminhoes[graficoId] == undefined) {
            listaMostrarCaminhoes[graficoId] = 1;
            switchCaminhao.style.display = 'none'
        }

        if (listaMostrarCaminhoes[graficoId] == 1) {
            listaMostrarCaminhoes[graficoId] = 0;
            switchCaminhao.style.display = 'none'
        } else {
            listaMostrarCaminhoes[graficoId] = 1;
            switchCaminhao.style.display = 'block'
        }

    }

    // function exibirCaminhoes(idCaminhao) {
    //     let todosOsGraficos = JSON.parse(sessionStorage.CAMINHOES_TRANSPORTADORA);

    //     for (i = 0; i < todosOsGraficos.length; i++) {
    //         // exibindo - ou não - o gráfico
    //         if (todosOsGraficos[i].idCaminhao != idCaminhao) {
    //             let elementoAtual = document.getElementById(`grafico${todosOsGraficos[i].idCaminhao}`)
    //             if (elementoAtual.classList.contains("display-block")) {
    //                 elementoAtual.classList.remove("display-block")
    //             }
    //             elementoAtual.classList.add("display-none")

    //             // alterando estilo do botão
    //             let btnAtual = document.getElementById(`btnCaminhao${todosOsGraficos[i].idCaminhao}`)
    //             if (btnAtual.classList.contains("btn-pink")) {
    //                 btnAtual.classList.remove("btn-pink")
    //             }
    //             btnAtual.classList.add("btn-white")
    //         }
    //     }

    //     // exibindo - ou não - o gráfico
    //     let graficoExibir = document.getElementById(`grafico${idCaminhao}`)
    //     graficoExibir.classList.remove("display-none")
    //     graficoExibir.classList.add("display-block")

    //     // alterando estilo do botão
    //     let btnExibir = document.getElementById(`btnCaminhao${idCaminhao}`)
    //     btnExibir.classList.remove("btn-white")
    //     btnExibir.classList.add("btn-pink")
    // }

    // O gráfico é construído com três funções:
    // 1. obterDadosGrafico -> Traz dados do Banco de Dados para montar o gráfico da primeira vez
    // 2. plotarGrafico -> Monta o gráfico com os dados trazidos e exibe em tela
    // 3. atualizarGrafico -> Atualiza o gráfico, trazendo novamente dados do Banco

    // Esta função *obterDadosGrafico* busca os últimos dados inseridos em tabela de medidas.
    // para, quando carregar o gráfico da primeira vez, já trazer com vários dados.
    // A função *obterDadosGrafico* também invoca a função *plotarGrafico*

    //     Se quiser alterar a busca, ajuste as regras de negócio em src/controllers
    //     Para ajustar o "select", ajuste o comando sql em src/models
    function obterDadosGrafico(idCaminhao) {

        alterarTitulo(idCaminhao)

        if (proximaAtualizacao != undefined) {
            clearTimeout(proximaAtualizacao);
        }

        fetch(`/sensorDados/ultimas/${idCaminhao}`, { cache: 'no-store' })

            .then(function (response) {
                if (response.ok) {
                    response.json().then(function (resposta) {
                        console.log(`Dados recebidos: ${JSON.stringify(resposta)}`);
                        resposta.reverse();

                        plotarGrafico(resposta, idCaminhao);

                    });
                } else {
                    console.error('Nenhum dado encontrado ou erro na API');
                }
            })
            .catch(function (error) {
                console.error(`Erro na obtenção dos dados p/ gráfico: ${error.message}`);
            });
    }

    // Esta função *plotarGrafico* usa os dados capturados na função anterior para criar o gráfico
    // Configura o gráfico (cores, tipo, etc), materializa-o na página e, 
    // A função *plotarGrafico* também invoca a função *atualizarGrafico*
    function plotarGrafico(resposta, idCaminhao) {

        console.log('iniciando plotagem do gráfico...');

        // Criando estrutura para plotar gráfico - labels
        let labels = [];

        // Criando estrutura para plotar gráfico - dados
        let dados = {
            labels: labels,
            datasets: [{
                label: 'Umidade',
                data: [],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            },
            {
                label: 'Temperatura',
                data: [],
                fill: false,
                borderColor: 'rgb(199, 52, 52)',
                tension: 0.1
            },

            ]


        };

        console.log('----------------------------------------------')
        console.log('Estes dados foram recebidos pela funcao "obterDadosGrafico" e passados para "plotarGrafico":')
        console.log(resposta)

        // Inserindo valores recebidos em estrutura para plotar o gráfico
        for (i = 0; i < resposta.length; i++) {
            var registro = resposta[i];
            labels.push(registro.data_hora);
            dados.datasets[0].data.push(registro.umidade_DHT11);
            dados.datasets[1].data.push(registro.temperatura_LM35);
        }

        console.log('----------------------------------------------')
        console.log('O gráfico será plotado com os respectivos valores:')
        console.log('Labels:')
        console.log(labels)
        console.log('Dados:')
        console.log(dados.datasets)
        console.log('----------------------------------------------')

        // Criando estrutura para plotar gráfico - config

        // Adicionando gráfico criado em div na tela
        const grafico = document.getElementById(`myChartCanvas${idCaminhao}`)

        var novoGrafico = new Chart(grafico, {
            type: 'line',
            data: dados,


            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });



        setTimeout(() => atualizarGrafico(idCaminhao, dados, novoGrafico), 2000);
    }


    // Esta função *atualizarGrafico* atualiza o gráfico que foi renderizado na página,
    // buscando a última medida inserida em tabela contendo as capturas, 

    //     Se quiser alterar a busca, ajuste as regras de negócio em src/controllers
    //     Para ajustar o "select", ajuste o comando sql em src/models
    async function atualizarGrafico(idCaminhao, dados, novoGrafico) {


        fetch(`/sensorDados/tempo-real/${idCaminhao}`, { cache: 'no-store' }).then(function (response) {
            if (response.ok) {
                response.json().then(function (novoRegistro) {

                    obterdados(idCaminhao);
                    alertar(novoRegistro, idCaminhao);
                    console.log(`Dados recebidos: ${JSON.stringify(novoRegistro)}`);
                    console.log(`Dados atuais do gráfico:`);
                    console.log(dados);

                    // let avisoCaptura = document.getElementById(`avisoCaptura${idCaminhao}`)
                    // avisoCaptura.innerHTML = ""


                    if (novoRegistro[0].data_hora == dados.labels[dados.labels.length - 1]) {
                        console.log("---------------------------------------------------------------")
                        console.log("Como não há dados novos para captura, o gráfico não atualizará.")
                        console.log("<i class='fa-solid fa-triangle-exclamation'></i> Foi trazido o dado mais atual capturado pelo sensor. <br> Como não há dados novos a exibir, o gráfico não atualizará.")
                        // avisoCaptura.innerHTML = "<i class='fa-solid fa-triangle-exclamation'></i> Foi trazido o dado mais atual capturado pelo sensor. <br> Como não há dados novos a exibir, o gráfico não atualizará."
                        console.log("Horário do novo dado capturado:")
                        console.log(novoRegistro[0].data_hora)
                        console.log("Horário do último dado capturado:")
                        console.log(dados.labels[dados.labels.length - 1])
                        console.log("---------------------------------------------------------------")
                    } else {
                        // tirando e colocando valores no gráfico
                        dados.labels.shift(); // apagar o primeiro
                        dados.labels.push(novoRegistro[0].data_hora); // incluir um novo momento

                        dados.datasets[0].data.shift();  // apagar o primeiro de umidade
                        dados.datasets[0].data.push(novoRegistro[0].umidade_DHT11); // incluir uma nova medida de umidade

                        dados.datasets[1].data.shift();  // apagar o primeiro de temperatura
                        dados.datasets[1].data.push(novoRegistro[0].temperatura_LM35); // incluir uma nova medida de temperatura


                    }

                    novoGrafico.update();

                    // Altere aqui o valor em ms se quiser que o gráfico atualize mais rápido ou mais devagar
                    proximaAtualizacao = setTimeout(() => atualizarGrafico(idCaminhao, dados, novoGrafico), 5000);
                });
            } else {
                console.error('Nenhum dado encontrado ou erro na API');
                // Altere aqui o valor em ms se quiser que o gráfico atualize mais rápido ou mais devagar
                proximaAtualizacao = setTimeout(() => atualizarGrafico(idCaminhao, dados, grafico), 2000);
            }
        })
            .catch(function (error) {
                console.error(`Erro na obtenção dos dados p/ gráfico: ${error.message}`);
            });

    }





    window.onload = mostrarTudo();
    window.onload = btnFuncionario();
</script>